.navbar {
  width: 1232px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #717171;
  z-index: 100;
}
.logo_pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
}
.pages {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.pages p {
  padding: 10px;
}
.pages p:hover {
  cursor: pointer;
}
.login_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.sign_in {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.sign_in:hover {
  background-color: #dae0f0;
  color: #1f28eb;
  cursor: pointer;
}
.sign_up {
  background-color: #1f28eb;
  border-radius: 5px;
  color: white;
  padding: 10px 25px 10px 25px;
  transition: all 0.2s ease-out;
}
.sign_up:hover {
  background-color: #434cf5;
  cursor: pointer;
}
.logout {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.logout:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
